.main_Wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100vh;
  overflow-x: hidden;
  padding-left: 20px;
  padding-right: 20px;
}

.calculator_Section {
  display: grid;
}

.food_Diet_Section {
  display: grid;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .main_Wrapper {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }
  .calculator_Section {
    display: flex;
    flex-direction: column;
  }

  .food_Diet_Section {
    display: flex;
  }
} ;
